.survey_form {
    display: inline-block !important;
    & .survey_email {
        padding: 28px 15px !important;
        display: inline-block !important;
        width: 100% !important;
        &:focus {
            border-color: $btn_bg;
            box-shadow: 0 0 20px 1px $btn_bg;
        }
    }
}